@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 320px;
        --font_size_title: 36px;
    }


    .cont
    {
        padding: 0 40px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        height: 68px;
        margin-left: -280px;
    }


    .block
    {
        margin-bottom: 68px;
    }

    .block.border
    {
        padding-bottom: 68px;
    }

    .block.bg
    {
        padding: 68px 0 80px;
    }


    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 20px);
    }



    /*------------
        Header
    ------------*/
    header .data
    {
        padding: 24px 0;
    }


    header .contacts
    {
        margin-left: 40px;
    }


    header .phones
    {
        margin-top: 16px;

        gap: 16px;
    }


    header .phones .phone
    {
        font-size: 18px;
    }


    header .info
    {
        width: calc(100% - 948px);
    }


    header .search
    {
        margin-top: 20px;
    }


    header .links
    {
        gap: 40px;
    }


    header .messengers
    {
        margin-left: 40px;

        gap: 24px;
    }


    header .links_icons
    {
        margin-top: 40px;
        margin-left: 40px;

        gap: 24px;
    }


    header .catalog
    {
        width: 260px;
    }


    header .catalog .btn
    {
        font-size: 18px;

        height: 60px;
    }


    header .catalog .mini_modal
    {
        padding-bottom: 40px;
    }


    header .catalog .mini_modal .row
    {
        margin-left: -40px;

        gap: 40px 0;
    }


    header .catalog .mini_modal .row > *
    {
        width: calc(20% - 40px);
        margin-left: 40px;
    }


    header .catalog .mini_modal .sub.columns
    {
        flex-direction: column;

        gap: 10px;
    }


    header .catalog .mini_modal .sub.columns > *
    {
        width: 100%;
    }


    header .categories
    {
        width: calc(100% - 257px);
        margin-right: -20px;
    }


    header .categories .item a
    {
        font-size: 15px;

        height: 60px;
        padding: 0 20px;
    }



    header.fixed .data .cont
    {
        height: 60px;
    }


    header.fixed .info
    {
        width: calc(100% - 948px);
    }


    header.fixed .contacts
    {
        margin-left: 300px;
    }


    header.fixed .messengers
    {
        margin-left: 40px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 24px;
    }


    * + .page_title
    {
        margin-top: 24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }

    .block_head.small_m
    {
        margin-bottom: 24px;
    }


    .block_head .all_link
    {
        font-size: 15px;
        line-height: 23px;
    }


    .block_head .desc
    {
        font-size: 15px;
        line-height: 24px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns.clear
    {
        margin-bottom: -20px;
    }


    .form .line
    {
        margin-bottom: 20px;
    }


    .form .submit
    {
        padding-top: 8px;
    }


    .form .submit_btn,
    .form .submit .btn
    {
        height: 52px;
        padding: 0 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 28px;
        line-height: calc(100% + 8px);
    }


    .text_block h3
    {
        line-height: calc(100% + 8px);
    }



    /*-------------
        Sidebar
    -------------*/
    aside .filter .item
    {
        padding: 24px;
    }


    aside .filter .hide,
    aside .filter .field + .field
    {
        margin-top: 12px;
    }


    aside .filter .submit
    {
        gap: 16px;
    }



    aside .filter_btn
    {
        margin-top: 24px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 520px;
        padding-top: 68px;
        padding-bottom: 68px;
    }


    .main_slider .data
    {
        padding-left: 40px;
    }


    .main_slider .title
    {
        font-size: 32px;
        line-height: calc(100% + 14px);
    }


    .main_slider .desc
    {
        font-size: 15px;
    }


    .main_slider .link
    {
        margin-top: 32px;
        padding: 14px 23px;
    }


    .main_slider .img
    {
        width: calc(50% + 280px);
        height: calc(100% - 68px);
    }



    /*-----------------------
        Category products
    -----------------------*/
    .category_products .row
    {
        margin-bottom: -4px;
        margin-left: -4px;
    }


    .category_products .row > *
    {
        width: calc(33.333% - 4px);
        margin-bottom: 4px;
        margin-left: 4px;
    }


    .category_products .product .thumb img
    {
        min-height: 340px;
    }


    .category_products .product .name
    {
        font-size: 18px;

        width: calc(100% - 142px);
        padding: 18px 22px;
    }


    .category_products .product .price
    {
        font-size: 14px;

        min-width: 120px;
        padding: 12px 16px;
    }


    .category_products .product .price .label
    {
        margin-bottom: 4px;
    }


    .category_products .product .price span
    {
        font-size: 22px;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-button-prev
    {
        left: -40px;
    }

    .products .swiper-button-next
    {
        right: -40px;
    }


    .products .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }


    .products .row > *,
    aside.hide + .content .products .row > *
    {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .content .products .row > *
    {
        width: calc(33.333% - 20px);
    }


    .products .product
    {
        padding: 15px;
    }


    .products .product .thumb
    {
        height: 248px;
    }


    .products .product .name
    {
        font-size: 17px;
        line-height: 25px;

        padding-right: 0;
    }


    .products .product .features
    {
        margin-top: 12px;
    }


    .products .product .buy
    {
        padding-top: 20px;
    }


    .products .product .price
    {
        display: block;
    }


    .products .product .price .old
    {
        line-height: 15px;
    }


    .products .product .buy_btn
    {
        margin-left: 10px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        margin-bottom: -40px;
        margin-left: -80px;
    }


    .advantages .row > *
    {
        margin-bottom: 40px;
        margin-left: 80px;
    }


    .advantages .row > *:nth-child(3n+1),
    .advantages .row > *:nth-child(3n+2)
    {
        width: 375px;
    }

    .advantages .row > *:nth-child(3n+3)
    {
        width: 440px;
    }


    .advantages:before
    {
        bottom: -20px;

        width: calc(50% - 232px);
        height: 80px;
    }


    .advantages:after
    {
        bottom: 80px;

        width: calc(50% - 232px);
    }



    /*------------
        articles
    ------------*/
    .articles .row
    {
        margin-bottom: -40px;
        margin-left: -20px;
    }


    .articles .row > *
    {
        width: calc(25% - 20px);
        margin-bottom: 40px;
        margin-left: 20px;
    }


    .articles .article .date
    {
        margin-bottom: 12px;
    }


    .articles .article .name
    {
        padding-bottom: 16px;
    }


    .articles .article .name:after
    {
        width: 60px;
    }


    .articles .article .desc
    {
        margin-top: 16px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .swiper-button-prev
    {
        left: -40px;
    }


    .partners .swiper-button-next
    {
        right: -40px;
    }


    .partners .item
    {
        height: 140px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block .block_head
    {
        width: 400px;
    }


    .order_block .block_head.big_w
    {
        width: 468px;
    }


    .order_block .form
    {
        margin-left: 100px;
    }


    .order_block .block_head.big_w + .form
    {
        margin-left: 80px;
    }



    /*--------------------
        Sub categories
    --------------------*/
    .sub_categories
    {
        margin-bottom: 24px;
    }


    .sub_categories a
    {
        padding: 5px 11px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        margin-bottom: 24px;
        padding-left: calc(var(--sidebar_width) + 20px);
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        width: calc(100% - 768px);
    }


    .product_info .images .thumbs
    {
        width: 120px;
    }


    .product_info .images .thumbs .swiper
    {
        padding: 40px 20px;
    }


    .product_info .images .thumbs .swiper-button-next,
    .product_info .images .thumbs .swiper-button-prev
    {
        height: 40px;
        padding: 0;
    }


    .product_info .images .thumbs .image
    {
        height: 78px;
    }


    .product_info .images .big
    {
        width: calc(100% - 119px);
    }


    .product_info .images .image
    {
        height: 492px;
    }


    .product_info .data
    {
        width: 360px;
    }


    .product_info .delivery
    {
        margin-top: 24px;
    }


    .product_info .buy
    {
        width: 360px;
        padding: 24px;
    }


    .product_info .btns
    {
        margin-top: 24px;

        gap: 24px;
    }


    .product_info .btns .btn
    {
        height: 52px;
    }


    .product_info .favorite_btn
    {
        height: 60px;
        margin: 24px -24px -24px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .cont > * + *
    {
        margin-top: 32px;
        padding-top: 32px;
    }


    .product_data .features .row
    {
        margin-left: -40px;
    }


    .product_data .features .row > *
    {
        width: calc(25% - 40px);
        margin-left: 40px;
    }



    /*-----------
        Files
    -----------*/
    .files .row
    {
        margin-left: -40px;
    }


    .files .row > *
    {
        width: calc(25% - 40px);
        margin-left: 40px;
    }



    /*------------
        Videos
    ------------*/
    .videos .swiper-button-prev
    {
        left: -40px;
    }


    .videos .swiper-button-next
    {
        right: -40px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .clear_btn
    {
        margin-bottom: 46px;
    }



    .cart_info .product
    {
        padding: 19px;
    }


    .cart_info .product > * + *
    {
        margin-left: 20px;
    }


    .cart_info .product .thumb
    {
        width: 200px;
        height: 140px;
    }


    .cart_info .product .info
    {
        width: calc(100% - 680px);
    }


    .cart_info .product .price
    {
        width: 120px;
    }


    .cart_info .product .amount
    {
        width: 100px;
    }



    .cart_total
    {
        top: 60px;

        padding: 24px;
    }


    .cart_total .features .total_price
    {
        font-size: 18px;
        line-height: 24px;
    }

    .cart_total .features .total_price span
    {
        font-size: 26px;
    }


    .cart_total .features .val
    {
        width: 116px;
        min-width: 116px;
    }


    .cart_total .checkout_btn
    {
        height: 52px;
        margin-top: 24px;
    }


    .cart_total .agree
    {
        margin-top: 24px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .section + .section
    {
        margin-top: 32px;
        padding-top: 32px;
    }


    .checkout_info .form .columns
    {
        --form_columns_offset: 20px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .section + .section
    {
        margin-top: 32px;
        padding-top: 32px;
    }


    .lk_info .form .columns
    {
        --form_columns_offset: 24px;
    }



    /*------------
        Orders
    ------------*/
    .orders .order .cart_info .product .price.total
    {
        width: 170px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        min-height: 500px;
    }


    .action_block .btn
    {
        height: 52px;
        margin-top: 28px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 60px 0 48px;
    }


    footer .cont + .cont
    {
        margin-top: 48px;
    }



    footer .title
    {
        font-size: 18px;
        line-height: 100%;
    }


    footer .categories .items
    {
        gap: 24px;
    }


    footer .links
    {
        font-size: 18px;
        line-height: 100%;

        margin-left: 120px;
    }


    footer .privacy_policy_link
    {
        margin-left: 24px;
    }


    footer .creator
    {
        margin-left: 120px;
    }


    footer .messengers
    {
        gap: 24px;
    }
}
