@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 280px;
        --font_size_title: 32px;
    }


    .cont
    {
        padding: 0 20px;
    }


    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction
    {
        height: 60px;
        margin-left: -300px;
    }


    .block
    {
        margin-bottom: 60px;
    }

    .block.border
    {
        padding-bottom: 60px;
    }

    .block.bg
    {
        padding: 60px 0 68px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        display: none;
    }


    header .logo img + img
    {
        display: block;
    }


    header .phones
    {
        gap: 10px;
    }


    header .info
    {
        width: calc(100% - 694px);
    }


    header .links,
    header .messengers
    {
        gap: 20px;
    }


    header .links_icons
    {
        gap: 20px;
    }


    header .links_icons .btn
    {
        gap: 6px;
    }


    header .catalog
    {
        width: 216px;
    }


    header .catalog .mini_modal
    {
        padding-top: 28px;
    }


    header .categories
    {
        width: calc(100% - 196px);
    }


    header .categories .item a
    {
        font-size: 14px;
    }



    header.fixed .info
    {
        width: calc(100% - 885px);
    }


    header.fixed .contacts
    {
        margin-left: 256px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .filter .item
    {
        padding: 20px;
    }


    aside .filter .submit
    {
        gap: 7px;
    }


    aside .filter .submit_btn,
    aside .filter .submit .btn
    {
        height: 52px;
        padding: 0 15px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of8
    {
        width: calc(25% - var(--form_columns_offset));
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .image figure
    {
        width: 520px;
    }


    .text_block .image > div
    {
        width: calc(100% - 560px);
        padding-bottom: 40px;
    }


    .text_block h2
    {
        font-size: 26px;
    }


    .text_block blockquote,
    .text_block q
    {
        font-size: 18px;

        width: calc(100% - 40px);
        margin-left: 40px;
        padding-left: 28px;
    }


    .text_block table th,
    .text_block table td
    {
        padding: 12px 0;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        min-height: 480px;
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .main_slider .data
    {
        padding-left: 0;
    }


    .main_slider .title
    {
        font-size: 30px;
        line-height: calc(100% + 12px);
    }


    .main_slider .desc
    {
        font-size: var(--font_size);
    }


    .main_slider .link
    {
        margin-top: 28px;
        padding: 12px 24px;
    }


    .main_slider .img
    {
        width: calc(50% + 300px);
        height: calc(100% - 60px);
    }



    /*-----------------------
        Category products
    -----------------------*/
    .category_products .product .thumb img
    {
        min-height: 280px;
    }


    .category_products .product .name
    {
        font-size: 16px;

        padding: 16px 20px;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-slide
    {
        visibility: visible;

        width: 328px;

        pointer-events: auto;

        opacity: 1;
    }


    .products .swiper-button-prev,
    .products .swiper-button-next
    {
        display: none;
    }


    .products .product
    {
        padding: 19px;
    }


    .products .row .product .buy > *:first-child
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
        margin-bottom: 10px;
    }


    .products .row .product .price
    {
        display: flex;
    }


    .products .row .product .price .old
    {
        line-height: 20px;
    }


    .products .row .product .product .amount
    {
        margin-left: 0;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        margin-left: -40px;
    }


    .advantages .row > *
    {
        margin-left: 40px;
    }


    .advantages .row > *:nth-child(3n+1),
    .advantages .row > *:nth-child(3n+2),
    .advantages .row > *:nth-child(3n+3)
    {
        width: calc(33.333% - 40px);
    }


    .advantages .item
    {
        font-size: 15px;
        line-height: calc(100% + 8px);
    }



    /*--------------
        Partners
    --------------*/
    .partners .swiper-slide
    {
        visibility: visible;

        width: 220px;

        pointer-events: auto;

        opacity: 1;
    }


    .partners .swiper-button-prev,
    .partners .swiper-button-next
    {
        display: none;
    }


    .partners .item
    {
        height: 124px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block .block_head.big_w
    {
        width: 404px;
    }


    .order_block .form
    {
        margin-left: 80px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        width: calc(100% - 700px);
    }


    .product_info .data
    {
        width: 330px;
    }


    .product_info .delivery
    {
        margin-top: 20px;
    }


    .product_info .buy
    {
        width: 330px;
        padding: 20px;
    }


    .product_info .amount,
    .product_info .status
    {
        margin-top: 20px;
    }


    .product_info .btns
    {
        margin-top: 20px;

        gap: 20px;
    }


    .product_info .favorite_btn
    {
        height: 56px;
        margin: 20px -20px -20px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .head .title
    {
        font-size: 26px;
        line-height: calc(100% + 7px);
    }


    .product_data .cont > * + *
    {
        margin-top: 30px;
        padding-top: 30px;
    }


    .product_data .features .row > *
    {
        width: calc(33.333% - 40px);
    }



    /*-----------
        Files
    -----------*/
    .files .row > *
    {
        width: calc(33.333% - 40px);
    }



    /*------------
        Videos
    ------------*/
    .videos .swiper-slide
    {
        width: 280px;
    }


    .videos .video .icon
    {
        width: 72px;
        height: 48px;
    }


    .videos .video .icon svg
    {
        width: 20px;
        height: 24px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product .thumb
    {
        width: 160px;
    }


    .cart_info .product .info
    {
        width: calc(100% - 640px);
    }



    .cart_total
    {
        padding: 20px;
    }


    .cart_total .features > *
    {
        flex-wrap: wrap;
    }


    .cart_total .features .val
    {
        font-weight: 600;

        width: 100%;
        min-width: 100%;
    }


    .cart_total .features .total_price
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }


    .cart_total .features .total_price span
    {
        font-size: 22px;
    }


    .cart_total .features .line
    {
        display: none;
    }


    .cart_total .checkout_btn
    {
        margin-top: 20px;
    }


    .cart_total .agree
    {
        margin-top: 20px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .section + .section
    {
        margin-top: 30px;
        padding-top: 30px;
    }



    .action_block .data
    {
        width: 380px;
        min-height: 440px;
        padding: 30px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding: 120px 0;
    }


    .contacts_info .data
    {
        width: 380px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 60px 0 40px;
    }


    footer .cont + .cont
    {
        margin-top: 40px;
    }



    footer .title
    {
        font-size: 18px;
        line-height: 100%;
    }


    footer .categories
    {
        margin-left: 40px;
    }


    footer .categories .items
    {
        gap: 20px;
    }


    footer .links
    {
        margin-left: 80px;
    }


    footer .contacts
    {
        width: 264px;
    }


    footer .contacts .location br
    {
        display: none;
    }


    footer .copyright
    {
        width: 388px;
    }


    footer .privacy_policy_link
    {
        margin-left: 20px;
    }


    footer .creator
    {
        margin-left: 80px;
    }


    footer .messengers
    {
        width: 264px;

        gap: 20px;
    }
}
